/* Estilos de pagina principal */

body{
  margin: 0;
  font-family: Arial, sans-serif;
}
img{
  width:100%;
}
.bodyLogin{
  background-color: rgb(0, 120, 175);
  align-items: center;
  justify-content: center;
  display: flex;
}
.superior{
margin-bottom: 1%;
display: flex;
justify-content: space-between;
overflow:hidden;
}

.masServicios{
  width:110px;
  text-decoration: none;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: transform 0.5s, font-weight 0.5s;
  background-color: rgb(0, 120, 175);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-right: 0.5%;
  font-weight: bold;
}

.masServicios:hover{
  transform: scale(1.1);
}

.superior a{
  display: inline-block;
}

.perfilimg{
border-radius: 50%;
width: 10%;
margin-left: auto;
display: block;
max-width: 100%;
height: auto;
}
.filtros{
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-bottom: 2%;
}
.principal{
  display: flex;
  background-color: white;
  overflow: hidden;
  border-radius: 15px;
  text-align: center;
  padding-top: 50px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom:100px;
  margin-top: 50px;
}
footer {                  /*ACTUALIZAR */
  text-align: center;
  background-color: #003d66;
  color: white;
  padding: 10px;
  font-size: 0.9rem;
  margin-top: 20px;
}

footer p{
  font-weight: bold;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.articuloPrincipal{
margin-left: 2%;
}

.contenidoPrincipal {
  display: flex; 
  align-items: center;
  margin-bottom: 3%;
}

.articulosSecundarios {
  display: flex;
  width: 90%;
  background-color: rgb(155, 199, 219);
  justify-content: flex-start;
  flex-wrap: wrap;
  border-radius: 3px;
}

.contenedorImagenTexto {
  width: 20%;
  margin: 2.5%;
  margin-bottom: 25px;
}

.contenedorTexto{
  margin-bottom: 15px;
}

.imgArticulo{
  width:90%;
  margin-left: 2%;
  margin-bottom: 1%;
  border-radius: 3%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.imgArticuloPrincipal{
  width:30%;
  margin-left: 3%;
  margin-top: 1%;
  border-radius: 2%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  margin-right: 3%;
}

.titulo{
  color: black;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.abrazoBotones{
  display: flex;
}

.registro{
  background-color: rgb(71, 157, 255);
  color: white;
  border-color: rgb(71, 157, 255);
  border-radius: 7px;
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
  margin-right: 10px;
}

.registro2{
  background-color: rgb(201, 36, 36);
  color: white;
  border-color: rgb(201, 36, 36);
  border-radius: 7px;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 20px;
}

.registro3{
  background-color: rgb(71, 157, 255);
  color: white;
  border-color: rgb(71, 157, 255);
  border-radius: 7px;
  padding: 10px;
  font-size: 20px;
  width: 90%;
}

.wave-group {
  position: relative;
}

.wave-group .input {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 200px;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
}

.wave-group .input:focus {
  outline: none;
}

.wave-group .label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  display: flex;
}

.wave-group .label-char {
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * .05s);
}

.wave-group .input:focus ~ label .label-char,
.wave-group .input:valid ~ label .label-char {
  transform: translateY(-20px);
  font-size: 14px;
  color: #5264AE;
}

.wave-group .bar {
  position: relative;
  display: block;
  width: 200px;
}

.wave-group .bar:before,.wave-group .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
  left: 50%;
}

.wave-group .bar:after {
  right: 50%;
}

.wave-group .input:focus ~ .bar:before,
.wave-group .input:focus ~ .bar:after {
  width: 50%;
}

.inputDate {
  border: 2px solid transparent;
  width: 15em;
  height: 2.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #f3f3f3;
  border-radius: 10px;
  transition: all 0.5s;
}

.inputDate:hover,
.inputDate:focus {
  border: 2px solid #4a9dec;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}

.textoFechaNacimiento{
  color:gray;
}

.volver{
  background-color: rgb(98, 179, 255);
  border-radius: 10px;
  padding: 3px;
  padding-left: 6px;
  padding-right: 6px;
  color: white;
  text-decoration: none;
}
.volver:hover{
  background-color: rgb(174, 216, 255);
}
.mostrarContrasena{
  color:gray;
  margin-right: 60px;
}
.bodyHerramientas {       /*Actualizar*/
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.image-links {
  display: flex;
  gap: 2%;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-links h2{          /*Hasta aquí */
  margin-bottom: 5%;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logomedio {
  width: 7%;
  border-radius: 50%;
  margin-bottom: 5%;
  margin-left: 17%;
}

.link-image {   /*Actualizar y también el hover */
  width: 90%; 
  height: auto;
  border-radius: 5%;
  transition: transform 0.3s ease; 
}

.link-image:hover { 
  opacity: 90%;
  transform: scale(1.07); 
}

.tituloHerramientas{     /* Actualizar */
  color: black;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 2%;
  font-size: 300%;
}
.back-button {
  background-color: white; 
  color: rgb(0, 120, 175); 
  border: none; 
  padding: 10px 15px; 
  border-radius: 10%; 
  text-decoration: none;
  font-weight: bold; 
  margin-bottom: 10%;
}
.login-image {
  width: 15%; 
  margin-bottom: 20%;
}
.headermain {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(0, 120, 175);
  color: white;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(0, 120, 175);
  color: white;
}

.contenedorMasServicios{
  align-items: center;
  justify-content: center;
  display: flex;
}

.btn-back {
  text-decoration: none;
  color: white;
  font-weight: bold;
  color: rgb(0, 120, 175);
  background-color: white;
  padding: 7px;
  border-radius: 12px;
  display: inline-block;
}
.logo {
  height: auto;
  width:7%;
}
.logoimg{
  border-radius: 50%;
}
.btn-login img {
  width: 60px; 
  height: auto;
}

.btn-login2 img{
  width: 60px; 
  height: auto;
  opacity: 60%;
}

.btn-back, .btn-login {
  transition: transform 0.3s ease; 
}

.btn-back:hover, .btn-login:hover, .btn-login2:hover {
  transform: scale(1.1); 
}
.linea {
  height: 2px;
  width: 40%;
  background-color: rgb(87, 87, 87); 
  margin: 10px auto;
}
.tituloCategorias{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 5%;
  font-size: 300%;
  color: #363636;
}
.mainCategorias{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.textoArticuloPrincipal{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

/* Herramientas */

.tituloCalc{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
}
.navHerramientas{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
}
.navHerramientas nav a {
  color: white;
  text-decoration: none;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.leyenda{
  height: 10%;
  margin-top: 1%;
  border: 1px solid rgb(138, 138, 138);
  padding: 10px;
  border-radius: 25px;
  display: inline-block;
}
.btnNav{
  background-color: #4a9dec;
  padding: 5px;
  border-radius: 15px;
}
.btnNav:hover {
  background-color: #b8ddff;
}
.tituloPerfil{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1px;
}
.tituloPerfilLetra{
  color: black;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 2%;
  font-size: 300%;
}
.perfilContainer {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 20px;
  margin-left: 6%;
  margin-bottom: 2%;
}
.infoPerfil {
  text-align: left;
  font-size: 100%;
  color: black;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.cajaFotoPerfil{
  display: flex;
  align-items: center;
}
.fotoPerfil{
  width: 10%;
  border-radius: 50%;
  margin-right:3% ;
}
.favoritos {         /* ACTUALIZAR */
  text-align: left;
  margin-left: 5%;
  margin-top: 3%;
  background-color: #dce4ee;
  margin-right: 5%;
  padding: 2%;
  border-radius: 10px;
}

.CajaContenido{
  margin-top: 30px;
  width: 75%;
}

.cajaFavoritos {
  gap: 2%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-top: 2%;
}
.favorito-item {
  text-align: center;
}
.tituloFavoritos {
  font-size: 20px; 
  margin-top: 5px; 
  color: #333; 
}
.favorito {
  border-radius: 10px;
  width: 90%;
}
.botonesPerfil{
  margin-left: 5%;
  display: flex;
}
.botonPerfil{
  border-radius: 10px;
  color: white;
  background-color: #4a9dec;
  padding: 5px;
  border: 0px;
  margin-right: 5px;
}
.botonPerfil:hover {
  background-color: #b8ddff;
}
.peticiones{
  margin-left: 5%;
}
.btnPetis{
  border-radius: 15px;
  border: 0px;
  padding: 6px;
  background-color:#4a9dec;
  margin: 10px;
}
.btnPetis:hover {
  background-color: #b8ddff;
}
.btnPetisRechazo{
  border-radius: 15px;
  border: 0px;
  padding: 6px;
  background-color: rgb(230, 55, 55);
}
.btnPetisRechazo:hover {
  background-color: rgb(233, 119, 119);
}

.tituloPagina{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#copiarBtn{
  border-radius: 10px;
  margin-top: 1%;
  margin-left: 2px;
}
#gen{
  border-radius: 10px;
}
.convertir {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  outline: none;
  cursor: pointer;
  font-family: sans-serif;
  margin-left: 10px;
}

/* Shadow layer */
.convertir .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(42, 42, 51, 0.25);
  border-radius: 8px;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

/* Edge layer */
.convertir .edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: linear-gradient(
    to left,
    hsl(217, 33%, 16%) 0%,
    hsl(217, 33%, 32%) 8%,
    hsl(217, 33%, 32%) 92%,
    hsl(217, 33%, 16%) 100%
  );
}

/* Front layer */
.convertir .front {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 28px;
  font-size: 1.25rem;
  color: white;
  background: hsl(216, 100%, 73%);
  border-radius: 8px;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

/* Hover and active states */
.convertir:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.convertir:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.convertir:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.convertir:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

/* Disable text selection */
.convertir .front span {
  user-select: none;
}

.calcular{
  border-radius: 10px;
  margin-left: 5px;
}

/* Estilos de Registro */

.body_Registro{
    background-color: rgb(0, 120, 175);
    align-items: center;
    justify-content: center;
    display: flex;
}
.principal{
    display: flex;
    background-color: white;
    overflow: hidden;
    border-radius: 15px;
    text-align: center;
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom:100px;
    margin-top: 50px;
}
.titulo{
    color: black;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.registro{
    background-color: rgb(71, 157, 255);
    color: white;
    border-color: rgb(71, 157, 255);
    border-radius: 7px;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
}
.registro:hover, .registro2:hover{
  transform: scale(1.05); 
}
.wave-group {
    position: relative;
  }
  
  .wave-group .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
  }
  
  .wave-group .input:focus {
    outline: none;
  }
  
  .wave-group .label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    display: flex;
  }
  
  .wave-group .label-char {
    transition: 0.2s ease all;
    transition-delay: calc(var(--index) * .05s);
  }
  
  .wave-group .input:focus ~ label .label-char,
  .wave-group .input:valid ~ label .label-char {
    transform: translateY(-20px);
    font-size: 14px;
    color: #5264AE;
  }
  
  .wave-group .bar {
    position: relative;
    display: block;
    width: 200px;
  }
  
  .wave-group .bar:before,.wave-group .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  
  .wave-group .bar:before {
    left: 50%;
  }
  
  .wave-group .bar:after {
    right: 50%;
  }
  
  .wave-group .input:focus ~ .bar:before,
  .wave-group .input:focus ~ .bar:after {
    width: 50%;
  }
  .inputDate {
    border: 2px solid transparent;
    width: 15em;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #f3f3f3;
    border-radius: 10px;
    transition: all 0.5s;
  }
  
  .inputDate:hover,
  .inputDate:focus {
    border: 2px solid #4a9dec;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
    background-color: white;
  }
  .textoFechaNacimiento{
    color:gray;
  }

  .volver{
    background-color: rgb(98, 179, 255);
    border-radius: 10px;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    color: white;
    text-decoration: none;
  }
  .mostrarContrasena{
    color:gray;
    margin-right: 60px;
  }

  .categories {           /*ACTUALIZAR  HASTA EL HOVER */
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin-top: 20px;
    margin-left: 7%;
  }
  
  .Botones_categorias {
    background: rgb(98, 179, 255);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px 5px 0px 0px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .Botones_categorias:hover {
    background: #00509e;
    transform: scale(1.05);
  }

  .form_categorias{
    margin-right: 15px;
  }

  /* Estilos Login Emergente*/ 

  .cajaInvocador{
    display: flex;
    justify-content: center;
  }

.login{
    width: 30%;
    background-color: rgb(255, 255, 0);
}

.cortina{
    background-color: #5264AE;
    opacity: 94%;
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.cajaCortina{
    position: relative;
  }

.centrar{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .principal2{
    display: flex;
    background-color: white;
    overflow: hidden;
    border-radius: 15px;
    text-align: center;
    width: 20%;
    height: 60%;
    justify-content: center;
    align-items: center;
}

/* Estilos de Pagina de ERROR */
.BodyError{
  background-color: #5264AE;
}

.ErrorContenedor{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15%;
}
.errormarcel{
  text-align: center;
}

/* Articulo Especifico */

.tituloArticulos{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 2%;
  font-size: 300%;
  color: #363636;
}

.imgArticuloPrincipalImpreso{
  width:30%;
  margin-top: 1%;
  border-radius: 2%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
.contenidoArticulo{
  width: 75%;
  font-size: larger;
}
.azul{              /*Actualizar aquí*/
  background-color: rgb(0, 120, 175);
}
.reintento{
  text-decoration: none;
  color: rgb(0, 120, 175);
  background-color: white;
  padding: 5px;
  font-weight: bold;
  border-radius: 10px;
}
.reintento:hover{
  opacity: 70%;
}
.tituloError{
  color:white;
  font-size: 250%;
  margin-top: 5%;
  margin-bottom: 10%;
}
.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenidoCrearArticulo{
  display: flex;
  justify-content: center;
  align-items: top;
  margin-bottom: 3%;
}
.publicar{
  border-radius: 10px;
  border:0px;
  padding: 10px;
  background-color: #4a9dec;
  color:white;
  font-weight: bold;
}
.publicar:hover{
  transform: scale(1.1); 
}
.tituloCrear{
  color: black;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 3%;
  font-size: 300%;
}
.tituloNuevoArticulo{
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: bold;
margin-right: 5px;
}
#contenido {
  width: 800px;
}
#descripcion {
  width: 800px;
}

/* Panel de usuario */

.solicitudes{
  display: flex;
  align-items: center;
}

.papaContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Botones_categorias2 {
  background: rgb(155, 199, 219);
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px 5px 0px 0px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.algo{
  display: flex;
  justify-content: center;
}

